.color1 {
  color: #e27d60;
  color: #DE354C;
  color: #932432;
  color: #3C1874;
  color: #283747;
  color: #F3F3F3;
}

.color2 {
  color: #B73225;
  color: #004E7C;
  color: #5A1B0C;
  color: #5C5F58;
  color: #DCE1E3;
}

.color3 {
  color: #DDAF94;
  color: #E8CEBF;
  color: #266150;
  color: #4F4846;
  color: #FDF8F5;
}

.color4 {
  color: #12232E;
  color: #007CC7;
  color: #4DA8DA;
  color: #203647;
  color: #EEFBFB;
}

.color5 {
  color: #202020;
  color: #3F3F3F;
  color: #707070;
  color: #FFDf6C;
  color: #FFFFFF;
}

.color6 {
  color: #164A41;
  color: #4D774E;
  color: #9DC88D;
  color: #F1B24A;
  color: #FFFFFF;
}

.color7 {
  color: #A3BCB6;
  color: #39603D;
  color: #3C403D;
  color: #DADED4;
  color: #FFFFFF;
}