// Миксины =============================================/
@import "mixin.scss";


// Подключаемые Шрифты  ================================/
// &display=swap&subset=cyrillic-ext

// Локальные Шрифты  ===================================/
@import "fonts";

//Шрифт по умолчанию  ==================================/
$fontFamily: 'Roboto',
sans-serif;

// Контейнер ===========================================/
$minWidth:320px;
$maxWidth: 1180px;
$lockWidth:768px;

//Переменные ===========================================/
@import "vars.scss";

// Обнуляющий стиль ====================================/
@import "null.scss";

//Подключение форм **************
@import "forms.scss";

//Оболочка =============================================/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

//Контейнер ============================================/
.container {
  max-width: $maxWidth;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
}

// Хедер **************
@import "header.scss";

// global options  **************
body {
  font-family: $fontFamily;
  font-weight: 400;
  height: 100%;
}

// подключаем страницы **************
@import "main.scss";


// Футер **************
@import "footer.scss";


// =====================================================/