// Кнопка рабочая ******************



// Кнопка болванка


// .btn {
//     display: inline-block;
//     padding: 0px 0px;

//     &:hover {}

//     &.fw {
//         width: 100%;
//     }
// }


// input
input[type=text],
input[type=email],
input[type=tell],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//  болванка
// .input {
//     border-radius: 0 !important;
//     width: 100%;
//     display: block;
//     padding: 0px 20px;

//     &.focus {}

//     &.err {}
// }

// textarea.input {
//     resize: none;
//     padding: 0px 0px;
// }