// Миксины ********************
@import "mixin.scss";


// Подключаемые внешние Шрифты  ******

// Подключаемые Шрифты  ******
@import "fonts";

//Шрифт по умолчанию  **********
$ffm: "",
Arial,
sans-serif;

//Переменные *******************
@import "vars";

// Обнуляющий стиль *************
@import "null.scss";


//Оболочка **********************
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

//Основная сетка ****************
.container {
  max-width: $mxw+px;
  margin: 0 auto;
  width: 100%;
}

//Подключение страниц **************
@import "header.scss", "footer.scss";

//  ==========================


body {
  font-family: $ffm;
  height: 100%;
  padding: 50px;
}



// Блок 1 ---------------------

// Блок 2 ---------------------

// Блок 3 ---------------------

// Блок 4 ---------------------


// X Основной блок x =======================

//Подключение форм
@import "forms.scss";
// ==========================================